/* .css-1spscxo-MuiInputBase-input-MuiOutlinedInput-input{
  height: 2.4375em;
  z-index: 1;
}
.css-6c4t1h-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius: 20px;
} */
:where(.css-dev-only-do-not-override-pr0fja).ant-select .ant-select-selection-item{
  font-weight: 700;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-select .ant-select-arrow{
  color: rgba(0, 0, 0, 1);
}
:where(.css-dev-only-do-not-override-pr0fja).ant-select-single .ant-select-selector{
  font-size: 17px;
}


